<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>projetjee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PizzaController</display-name>
    <servlet-name>PizzaController</servlet-name>
    <servlet-class>controller.PizzaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaController</servlet-name>
    <url-pattern>/PizzaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierController</display-name>
    <servlet-name>PanierController</servlet-name>
    <servlet-class>controller.PanierController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierController</servlet-name>
    <url-pattern>/PanierController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>

  <servlet>
    <description></description>
    <display-name>CommandeController</display-name>
    <servlet-name>CommandeController</servlet-name>
    <servlet-class>controller.CommandeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeController</servlet-name>
    <url-pattern>/CommandeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LigneDeCommande</display-name>
    <servlet-name>LigneDeCommande</servlet-name>
    <servlet-class>controller.LigneDeCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LigneDeCommande</servlet-name>
    <url-pattern>/LigneDeCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LigneController</display-name>
    <servlet-name>LigneController</servlet-name>
    <servlet-class>controller.LigneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LigneController</servlet-name>
    <url-pattern>/LigneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChefController</display-name>
    <servlet-name>ChefController</servlet-name>
    <servlet-class>controller.ChefController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChefController</servlet-name>
    <url-pattern>/ChefController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivreurController</display-name>
    <servlet-name>LivreurController</servlet-name>
    <servlet-class>controller.LivreurController</servlet-class>
  </servlet>

</web-app>